<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trace Server Demo</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Styles/site.min.css" asp-append-version="true" />
</head>
<body>
    <header>
        <h1><a href="/">Trace Server Demo</a></h1>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        &copy; <a href="https://www.rider.cz/">Michal Altair Valášek</a> - <a href="https://www.altairis.cz/">Altairis</a>, 2022
    </footer>
</body>
</html>